html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
	font-family: 'BMJUA';
	src: url('BMJUA_ttf.ttf');
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	display: flex;
    flex-direction: column;
    align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background:white;
    height:100px;
	margin: 10px;
}
.header_title{
	display: block;
	text-align: center;
    font-size:80px;
    color:green;
	font-family: 'BMJUA';
}
input{
	margin-top: 10px;
	text-align: center;
	color:black;
	border-radius: 10px;
	width: 600px;
	height: 25px;
}

.Button{
	cursor: pointer;
	width: 50px;
	height: 25px;
	font-family: 'BMJUA';
	text-align:center;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 5px;
	color:green;
	background-color: white;
	transition-duration: 0.3s;
	margin-bottom: 10px;
}
.Button:hover{
	background-color: gray;
}
a,li{
    text-decoration: none;
	color:white;
}
.Nav{
	margin-top:10px;
	width: 1200px;
	background-color: green;
	height: 40px;
	border-radius: 10px;
}
.Navli{
	display: inline-flex;
	margin-left: 80px;
	margin-right: 50px;
	padding: 10px;
	color:white;
	font-family: 'BMJUA';
	font-size: large;
}
.drop_the_text{
	background-image: url('search.png');
	background-size: 20px;
	background-position:left;
	background-repeat: no-repeat;
}
main{
	width: 1200px;
	height: 500px;
	margin-top: 75px;
	border:5px solid green;
	border-radius: 20px;
}
.Time{
	text-align: center;
	font-family: 'BMJUA';
	background-color: antiquewhite;
	width: 1300px;
	height: 1500px;
	font-size:100px;
}


